* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
}

button {
  outline: none !important;
}

a,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: 0 !important;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0;
}

.btn:focus,
.btn:active {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

//font variables
$header-font: ProximaNovaExtraBold;
$paragraph-font: ProximaNova;
$paragraph-semi-bold-font: ProximaNovaSemiBold;
//color-variables
$blue: #034adb;
$text-color: #27282c;
@font-face {
  font-family: ProximaNovaExtraBold;
  src: url("../fonts/Proxima/ProximaNova-Extrabld.ttf");
}

@font-face {
  font-family: ProximaNovaSemiBold;
  src: url("../fonts/Proxima/ProximaNova-Semibold.ttf");
}

@font-face {
  font-family: ProximaNova;
  src: url("../fonts/Proxima/ProximaNova-Regular.ttf");
}

/******Mixins*****/
@mixin marginAuto($value) {
  margin: 0 auto;
  width: $value;
}

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

/*******=============***/

.layout-margin {
  @include marginAuto(90%);
}

/**********Navbar section*******/

header {
  background: #fff;
  box-shadow: 0 10px 20px 0 rgba(3, 74, 219, 0.13);
  height: 75px;
  .container {
    max-width: 1024px;
  }
  .logo {
    float: left;
    img {
      height: 50px;
    }
  }

  .nav-list {
    float: right;
    position: relative;
    top: 15px;
    .btn-download {
      background-color: $blue;
      color: #fff;
    }
    .nav-extras {
      float: left;
      display: flex;
      li {
        .nav-links {
          font-size: 0.85rem;
          font-family: $paragraph-font;
          color: $text-color;
          padding-top: 10px 15px;
        }
      }
    }
    .main-nav {
      float: right;
      @include for-size(phone-only) {
        position: absolute;
        top: -3rem;
        right: 1rem;
      }
    }
  }
}

/*************End navbar section*****/

/*****Home section******/

.main {
  position: relative;
  z-index: 3;
  overflow: hidden;
}

#desktop-only {
  @include for-size(phone-only) {
    display: none;
  }

  @include for-size(tablet-portrait-up) {
    display: block;
  }
}

#mobile-only {
  @include for-size(phone-only) {
    display: block;
  }
  @include for-size(tablet-portrait-up) {
    display: none;
  }
}

#hero-section {
  background: url("../images/home-bg.png") no-repeat center;
  background-color: #fff;
  background-size: cover;
  padding-top: 0;
  margin-top: 30px;

  @include for-size(phone-only) {
    background-position: top;
  }

  .text-container {
    padding-top: 60px;
    .title {
      font-family: $header-font;
      h4 {
        color: $text-color;
        font-size: 1.5rem;
      }
      h5 {
        color: $blue;
        font-size: 2.5rem;
        width: 50%;
        line-height: 0.8;
      }
      img {
        height: 2rem;
      }
    }
    .description {
      font-family: $paragraph-font;
      p {
        color: $text-color;
        font-size: 0.85rem;
        width: 85%;
      }
    }
    .btn-container {
      h5 {
        color: $text-color;
        font-family: $header-font;
        font-size: 1.5rem;
      }
      .btn-download {
        background: $blue;
        color: #fff;
      }
    }
  }

  .title-container {
    @include for-size(phone-only) {
      margin-top: 2rem;
      h5 {
        font-family: $header-font;
        font-size: 1.5rem;
        color: $text-color;
      }
      h2 {
        color: $blue;
        font-size: 4rem;
        text-transform: uppercase;
        font-family: $header-font;
        line-height: 0.8;
        span {
          position: relative;
          bottom: 20px;
          right: 25px;
          img {
            height: 20px;
          }
        }
      }
      p {
        font-family: $paragraph-font;
        font-size: 1.5rem;
        color: $text-color;
        letter-spacing: 2px;
        margin-bottom: 0.5rem;
      }
    }
  }
}

/************End home section**********/

/**===Browser features=====**/
.content-header-container {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.content-header-body {
  h2 {
    font-size: 1.6rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: $text-color;
    font-family: $header-font;
  }
  h5 {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-top: 1rem;
    font-family: $paragraph-font;
    img {
      height: 30px;
      width: 30px;
      margin-left: 10px;
      margin-top: 10px;
    }
  }
  p {
    font-size: 0.8rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: $blue;
    font-family: $paragraph-font;
    @include marginAuto(75%);
  }
  .header-img {
    display: flex;
    justify-content: center;
    img {
      height: 100px;
    }
  }
}

#believe .carousel-box {
  @include for-size(phone-only) {
    display: block;
  }

  @include for-size(tablet-portrait-up) {
    display: none;
  }
}

#believe .card-box {
  @include for-size(phone-only) {
    display: none;
  }

  @include for-size(tablet-portrait-up) {
    display: flex;
  }
}

.card {
  border: 0;
}

.mt50 {
  margin-top: 50px;
}
.predict-margin {
  @include marginAuto(90%);
}
#features .feature-card {
  @include for-size(phone-only) {
    display: none;
  }
  @include for-size(tablet-landscape-up) {
    display: block;
  }
}
#features .card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 16px 30px 0 rgba(0, 0, 0, 0.1);
  margin: 10px 15px;
  height: 14rem;
  padding: 20px 10px;
  border-radius: 10px;
  img {
    height: 75px;
    width: 75px;
  }
  @include for-size(phone-only) {
    height: auto;
  }
}

#features .card-title {
  /* font-weight: normal; */
  font-style: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: center;
  color: $text-color;
  font-family: $header-font;
  font-size: 1.1rem;
  @include for-size(phone-only) {
    font-size: 0.85rem;
  }
}

#features .card .card-body {
  text-align: center;
  padding: 0.5rem;
}

#features .card-body .card-text {
  font-size: 0.75rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: center;
  color: $text-color;
  font-family: $paragraph-font;
  height: 5rem;
  @include for-size(phone-only) {
    height: auto;
    font-size: 0.7rem;
  }
}

/**====highlights=====**/

#highlights .col-md-12:not(:last-child) {
  margin-bottom: 3rem;
}

#highlights .predict-margin {
  @include for-size(phone-only) {
    @include marginAuto(100%);
    .col-md-12 {
      flex-direction: column;
      .text-container {
        margin-top: 20px;
        h5 {
          text-align: center;
        }
        p {
          width: 100%;
        }
      }
      .img-container {
        img {
          height: auto;
        }
      }
    }

    .col-md-12:nth-child(2) {
      flex-direction: column-reverse;
    }
  }
}

#highlights .img-container {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  img {
    height: 300px;
  }
  @include for-size(phone-only) {
    flex: 1 1 100%;
    height: auto;
  }
}

#highlights .text-container {
  flex: 1 1 50%;
  @include for-size(phone-only) {
    flex: 1 1 100%;
    height: auto;
  }
  h5 {
    font-family: $header-font;
    font-size: 1.2rem;
    color: $text-color;
  }
  p {
    font-family: $paragraph-font;
    font-size: 0.8rem;
    color: $text-color;
    width: 85%;
  }
}

/*============end highlights=========*/

/*======Rating========*/

#rating {
  .container {
    padding: 0;
  }
  .layout-margin {
    @include for-size(phone-only) {
      width: 100%;
    }
  }
}

#rating .img-container {
  background-image: url("../images/app_rating.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 20px;

  @include for-size(phone-only) {
    background-image: url("../images/app_Rating_mobile.png");
    height: 25rem;
  }

  .rating-container {
    padding: 10px 3rem;
    @include for-size(phone-only) {
      padding: 2rem 3rem;
    }
    .text {
      display: flex;
      align-items: center;
      height: 4rem;
      @include for-size(phone-only) {
        justify-content: center;
      }
      p {
        font-family: $header-font;
        color: #fff;
        font-size: 3.5rem;
      }
      span {
        height: 100px;
        width: 100px;
        position: relative;
        top: 20px;
        left: 10px;
        font-family: $paragraph-semi-bold-font;
        color: #fff;
        font-size: 1.4rem;
        line-height: 30px;
      }
    }

    .download-container {
      width: 175px;
      @include for-size(phone-only) {
        margin: 0 auto;
      }
    }
    .btn-container {
      @include for-size(phone-only) {
        text-align: center;
      }
    }
  }
}

.btn-download {
  background-color: #fff;
  font-family: $paragraph-font;
  color: $blue;
  border-radius: 8px;
  font-size: 0.8rem;

  span img {
    height: 15px;
  }
}

/*===================end rating=============*/

/*================Experience===========*/

.btn-submit {
  background: $blue;
  font-size: 0.8rem;
  font-family: $paragraph-font;
  color: #fff;
}

#experience .form-control {
  width: 15rem;
  border: 1px solid #adadad;
  padding: 5px 15px;
}

#inputEmail::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: $paragraph-font;
  opacity: 1; /* Firefox */
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

/*****==== end experience =====********/
.download-img {
  background-image: url("../images/download_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 10rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#download .content-header-body {
  h2 {
    color: #fff;
  }
  .btn-container {
    text-align: center;
  }
}

/******** end download*************/

/*********footer***********/
.footer-padding {
  padding: 30px 10px;
}
footer {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 33%;
    justify-content: center;
    align-items: center;
    @include for-size(phone-only) {
      flex: 1 1 100%;
    }
  }
  .img-container {
    img {
      height: 50px;
    }
  }

  .link-container ul {
    display: flex;
    justify-content: center;
    @include for-size(phone-only) {
      display: block;
      margin-top: 2rem;
    }
    li {
      @include for-size(phone-only) {
        margin-bottom: 1rem;
      }
      .btn-link {
        font-family: $paragraph-font;
        font-size: 0.75rem;
        color: $text-color;
        text-decoration: none;
        padding: 0px 5px;
        @include for-size(phone-only) {
          font-family: $paragraph-semi-bold-font;
          font-size: 1rem;
        }
      }
    }
  }

  .follow-container {
    margin: 0 auto;
    @include for-size(phone-only) {
      margin-top: 1rem;
      margin-bottom: 3rem;
    }
    h5 {
      font-family: $paragraph-font;
      font-size: 0.75rem;
      color: $text-color;
      @include for-size(phone-only) {
        font-family: $paragraph-semi-bold-font;
        font-size: 1rem;
        text-align: center;
        position: relative;
        right: 1.5rem;
        margin-bottom: 1rem;
      }
    }
    ul {
      display: flex;
      justify-content: center;
      li {
        margin: 0px 5px;
        @include for-size(phone-only) {
          margin: 0 10px;
        }
        .btn-img {
          span img {
            @include for-size(phone-only) {
              height: 50px;
            }
            height: 30px;
          }
        }
      }
    }
  }
}

.swiper-container-1 {
  width: 600px;
  height: 300px;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  @include for-size(phone-only) {
    max-width: 60%;
  }
}

.mySwiper .swiper-slide {
  height: calc((100% - 30px) / 2);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  @include for-size(phone-only) {
    height: 100%;
    width: 100%;
  }

  .card {
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px 20px;
    .knowledge-container {
      .text {
        p {
          font-family: $paragraph-font;
          font-size: 0.75rem;
          color: $text-color;
          text-align: left;
        }
      }
      .credit {
        display: flex;
        .logo {
          img {
            height: 40px;
          }
        }
        .logo-text {
          p {
            margin-bottom: 0rem;
            line-height: 0.8;
            color: $text-color;
            font-size: 0.85rem;
            font-family: $paragraph-semi-bold-font;
            text-align: left;
          }
          span {
            color: $blue;
            font-family: $paragraph-font;
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}
